<script src="bundle.js"></script>
<template>
  <div class="hello">
    <button v-on:click="play_original" style="font-size : 15px;">Play Original Song</button>
    
    <div style="width:200px;margin: 0 auto;">
      <VueSlideBar
      v-model="value"
      :min="1"
      :max="4"/>
      <h2>Value: {{ value }}</h2>
    </div>
  <p> Use keyboard buttons 1, 2, 3 and 4 to generate sound. </p>
  <p> Using slide has the same effect as using keyboard buttons form 1 to 4 </p>
  </div>


</template>

<script>
"use strict";
import VueSlideBar from 'vue-slide-bar'

import Tone from 'tone'
import axios from 'axios'
var midinote = require('midi-note')
import mymidi from '../../static/base64midi'
var MidiConvert = require("midiconvert/build/MidiConvert.js")
import {Mutex} from 'async-mutex';
const mutex = new Mutex();
 
var notesInProcess = []

// Implementation contains tiny bit of bug, but should be enough
var triggeredBySlideBar = true
const maxDelayPlay = 64
for (var i = 0; i < maxDelayPlay; i++) {
  notesInProcess.push([])
}
var delayPlay = 0

function base64_decode(base64str) {
    var midiBlob = new Buffer.from(base64str, 'base64');
    var str = new TextDecoder("utf-8").decode(midiBlob);
    return MidiConvert.parse(str);
}

const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}

var synth = new Tone.PolySynth(8).toMaster()
const length_of_one_in_ms = 750
const eight_in_ms = 375


function play_notes(_this){
  sleep(eight_in_ms).then(() => {
    delayPlay -= 1
    
    mutex.acquire().then(function(release) {
      var notes = notesInProcess[0]//.push({"midi": item["midi"], "duration": thOdNote})
      notesInProcess.shift()
      notesInProcess.push([])
      release();

      notes.forEach(function(item){
        console.log("Midi", midinote(item["midi"]), "Duration", item["duration"])
        synth.triggerAttackRelease(midinote(item["midi"]), item["duration"])
      })
    
      play_notes(_this)  
    });
    
  })
}

play_notes(this)

function nearestInArray(arr, val){
  function argMin(arr) {
    return arr.reduce((iMax, x, i, arr) => x < arr[iMax] ? i : iMax, 0);
  }
  const diff = arr.map( v => Math.abs(v - val))
  const nearestIdx = argMin(diff)
  return arr[nearestIdx]

}


function query_and_play(_this, val){
  URL = `http://localhost:5000/midi?useraction=` + val
  let config = {
    headers: {
      'Access-Control-Allow-Origin': '*'
    }
  }
  let data = {
  }

  axios.get(URL, data, config)
    .then(response => {
      var item = response.data
        var thOdNote = item["duration"]

      const noteToMsRatio = 4/3  //* 1000
      const smallesDiff = 0.375

      const notesInSong = [59., 60.,61, 62., 63, 64., 67., 69., 71., 74.]
      const midiVal = nearestInArray(notesInSong, item["midi"])

      const noteDurations = [0.375,0.75,1.125,1.5,1.875,2.25,2.625,3.0,3.375]
      const noteMs = nearestInArray(noteDurations, item["duration"]) * noteToMsRatio
      console.log(midiVal, "midi", "duration", noteMs)

      if (delayPlay >= maxDelayPlay || delayPlay < 0){
        delayPlay = 0
      }

      var timeToNext = Math.round(item["time_to_next"]/smallesDiff)
      mutex.acquire().then(function(release) {
        const notes = notesInProcess[delayPlay]
        if (notes.filter(v => v["midi"] == midiVal).length == 0){
          notesInProcess[delayPlay].push({"midi": midiVal, "duration": noteMs})
          delayPlay += timeToNext
        } else {
          console.log("Repeated note ignored", midiVal)
        }
        release();
        });
    })
    .catch(e => {
      console.log(e)
    })
}

function play_song(_this){

  var midiObject = base64_decode(mymidi.midi)
  var synth = new Tone.PolySynth(8).toMaster()

  Tone.Transport.bpm.value = midiObject.header.bpm
  var midiPart = new Tone.Part(function(time, note) {
    synth.triggerAttackRelease(midinote(note.midi), note.duration, time, note.velocity)
  }, midiObject.tracks[1].notes).start()

  Tone.Transport.start()
}

export default {
  data () {
    return {
      value: 3
    }
  },
  components: {
    VueSlideBar
  },
  props: {
    info: '',
    msg: String
  },
  watch: {
    value: function (val) {
      if (triggeredBySlideBar){
        query_and_play(this, val)
      }

      triggeredBySlideBar = true
    }
  },
  mounted() {
    var _this = this
    window.addEventListener("keypress", e => {
      var str = String.fromCharCode(e.keyCode)
      triggeredBySlideBar = false
      if(str == 1){
        _this.value = 1
        query_and_play(_this, 1)
      } else if(str == 2){
        _this.value = 2
        query_and_play(_this, 2)
      } else if (str == 3) {
        _this.value = 3
        query_and_play(_this, 3)
      } else if (str == 4) {
        _this.value = 4
        query_and_play(_this, 4)
      }
    });
  },
  methods: {
    play_original: function(event){
      play_song(this)
    }

  }
}

</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

button {
  margin-left: 4px;
}
</style>
